@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  }
body{
  background: #fff;
  padding-top: 88px;
}
@media screen and (min-width:1024px) {
  body{
    padding-top: 0px;
  }
  
}